@import url("https://fonts.googleapis.com/css2?family=Karla&family=Merriweather&display=swap");

/* :has to override any css to HTML or Body */
html:has(#app),
body:has(#app) {
  width: 100%;
  height: 100%;
  font-family: "Merriweather", serif;
  background: rgb(230, 230, 255);
  font-family: "Merriweather", serif;
  color: #00001f;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Karla", sans-serif;
}

.karla {
  font-family: "Karla", sans-serif;
}

.merriweather {
  font-family: "Merriweather", serif;
}
